.navbar {
  background: #df8181;
  color: #e6e943;
  height: 3rem;
  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    .btn {
      background: #e02332;
      padding: 10px;
      border-radius: 7px;
      font-weight: 700;
      cursor: pointer;
      user-select: none;
      &:hover {
        background: #ff0202;
      }
      &:active {
        opacity: 80%;
      }
    }
  }
}
